aiohttp==3.8.4
aiosignal==1.3.1
alabaster==0.7.13
async-timeout==4.0.2
attrs==20.3.0
Babel==2.12.1
backoff==2.2.1
boulder-opal-toolkits==2.0.0b6
cached-property==1.5.2
certifi==2023.5.7
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
commonmark==0.9.1
contourpy==1.1.0
cycler==0.11.0
docutils==0.20.1
fonttools==4.41.0
frozenlist==1.4.0
gql==3.4.1
graphql-core==3.2.3
idna==3.4
imagesize==1.4.1
importlib-metadata==4.13.0
inflection==0.5.1
Jinja2==3.1.2
jsonschema==4.17.3
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.7.2
mpmath==1.3.0
multidict==6.0.4
networkx==2.8.8
numpy==1.25.1
numpydoc==1.5.0
oauthlib==3.2.2
packaging==22.0
Pillow==10.0.0
Pygments==2.15.1
PyJWT==2.8.0
pyparsing==3.0.9
pyrsistent==0.19.3
python-dateutil==2.8.2
python-forge==18.6.0
pytz==2020.5
qctrl==22.0.3
qctrl-commons==19.1.0
qctrl-open-controls==10.0.1
qctrl-visualizer==6.0.1
requests==2.31.0
requests-oauthlib==1.3.1
requests-toolbelt==0.10.1
rich==11.2.0
scipy==1.11.1
six==1.16.0
snowballstemmer==2.2.0
Sphinx==7.0.1
sphinxcontrib-applehelp==1.0.4
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
sympy==1.12
tenacity==8.2.2
tomli==2.0.1
tqdm==4.65.0
typing-utils==0.1.0
urllib3==1.26.16
yarl==1.9.2
zipp==3.16.2
